body{
    text-align: center;
}

.quadrado{
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 65px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.Jogador, .Vencedor{
    font-size: 30px;
    margin-top: 10px;
}

button{
    border-radius: 45%;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}
